<html>

<h1>Received Mysql details:<h1> 

<h3>Password</h3>
{{ db_pass }}

<h3>Host</h3>
{{ db_host }}

<h3>Datbasename</h3>
{{ db_dbname }}

<h3>Hostname</h3>
{{ hostname }}

<h3>Username</h3>
{{ db_user }}

<h3>Port</h3>
{{ db_port }}

</html>
