<html>

Temp testing for information: <br><br>

Dbname: {{ gdb_dbname }}
<br>
Username: {{ gdb_user }}
<br>
Password: {{ gdb_password }}
<br>
Host: {{ gdb_host }}
<br>
Port: {{ gdb_port }}
<br>




</html>

