<html>

<h1>Received Postgres details:<h1> 

<h3>DB_MASTER</h3>
{{ db_master }}

<h3>Password</h3>
{{ db_pass }}

<h3>Databasename</h3>
{{ db_dbname }}

<h3>db_host</h3>
{{ db_host }}

<h3>User</h3>
{{ db_user }}

<h3>Port</h3>
{{ db_port }}


</html>

